services:
  mysql_db:
    image: mysql:8.0
    container_name: mysql_db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: test
    ports:
      - "3307:3306"

  nest_api:
    build: .
    container_name: nest_api
    depends_on:
      - mysql_db
    ports:
      - "3000:3000"
    volumes:
      - .:/app
      - /app/node_modules
